.request__title {
  margin: 80px 0 0;
}

@media screen and (max-width: 1200px) {
  .request__title {
    margin-top: 64px;
    font-size: 32px;
    line-height: 34px;
  }
}

@media screen and (max-width: 768px) {
  .request__title {
    margin-top: 64px;
  }
}

@media screen and (max-width: 480px) {
  .request__title {
    font-size: 30px;
    margin-top: 0px;
  }
}