.glide__title-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 0 104px;
}

@media screen and (max-width: 1200px) {
  .glide__title-container {
    padding: 0 40px;
  }
}

@media screen and (max-width: 660px) {
  .glide__title-container {
    padding: 0 5%;
  }
}