.technology__title {
  font-family: Roboto Slab, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  max-width: 334px;
  height: 92px;
  margin: 80px 12% 0 7%;
}

@media screen and (max-width: 1240px) {
  .technology__title {
    margin-right: 5%;
  }
}

@media screen and (max-width: 1140px) {
  .technology__title {
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .technology__title {
    line-height: 34px;
  }
}

@media screen and (max-width: 500px) {
  .technology__title {
    margin-top: 32px;
  }
}