.footer__nav {
  margin: 0;
  display: flex;
  padding: 0;
}

@media screen and (max-width: 665px) {
  .footer__nav {
    margin-top: 20px;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 120px;
    width: 184px;
    order: -1;
  }
}