.glide__link {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #1A1B22;
  text-decoration: none;
}

.glide__link:hover {
  cursor: url('../../../../images/cursor.svg'), auto;
  opacity: 0.4;
  transition: linear 0.3s;
}

@media screen and (max-width: 480px) {
  .glide__link {
    display: none;
  }
}