.search__input {
  width: 376px;
  max-width: 90%;
  height: 22px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #B6BCBF;
  border: none;
  margin-left: 24px;
  outline: none;
  padding-left: 5px;
}

.search__input:focus {
  outline: 2px solid #B6BCBF;
}

@media screen and (max-width: 768px) {
  .search__input {
    width: 228px;
    height: 22px;
  }
}