.search-result__text {
  height: 100%;
  padding: 20px 24px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .search-result__text {
    padding: 16px;
  }
}