@import url(./blocks/common/vendors/normalize.css);
@import url(./vendor/fonts.css);
@import url(./blocks/common/header/header.css);
@import url(./blocks/common/footer/footer.css);
@import url(./blocks/common/title/title.css);
@import url(./blocks/analytics/request/request.css);
@import url(./blocks/analytics/analysis/analysis.css);

body {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  margin: 0;
  padding: 0;
}